@using SettingsService.Web.Properties
@section Scripts {
    @Scripts.Render("~/bundles/crawler-rules")
    <script>
        crawlerRulesApi.setApiServer("@Settings.Default.SettingServiceUrl");
        $(function () {
            ko.applyBindings(crawlerRules);
            //settingsServiceApi.loadCrawlerRules();
        });
    </script>
}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Extraction Rules</h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>Host</th>
                <th>Type</th>
                <th>Name</th>
                <th>Expression</th>
                <th></th>
            </tr>
            <tbody data-bind="foreach: rules">
                <tr>
                    <td data-bind="text: Host"></td>
                    <td data-bind="text: DataType"></td>
                    <td data-bind="text: Name"></td>
                    <td data-bind="text: RegExpression"></td>
                    <td>
                        <button type="button" class="btn btn-default btn-sm" title="Remove" data-bind="click: $root.removeRule"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>