<div id="rules" class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Rules&nbsp;<button type="button" class="btn btn-xs btn-primary" data-toggle="modal" data-target="#rules-dialog" data-bind="click: add">Add</button></h3>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <tr>
                <th>Name</th>
                <th>DataType</th>
                <th>RegExpression</th>
                <th></th>
            </tr>
            <tbody data-bind="foreach: rules">
            <tr>
                <td data-bind="text: Name"></td>
                <td data-bind="text: DataType"></td>
                <td data-bind="text: RegExpression"></td>
                <td>
                    <button type="button" class="btn btn-default btn-sm" title="Edit" data-bind="click:function(){ $root.edit($root, $data);}" data-toggle="modal" data-target="#rules-dialog"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
                    <button type="button" class="btn btn-default btn-sm" title="Remove" data-bind="click:function(){ $root.delete($root, $data);}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="rules-dialog" class="modal fade" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Add/Edit item</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" placeholder="Name" data-bind="value: editName">
                    </div>
                    <div class="form-group">
                        <label for="datatype">Date Type</label>
                        <select class="form-control" id="datatype" data-bind="value: editDataType">
                            <option value="Video">Video</option>
                            <option value="Picture">Picture</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="expression">Expression</label>
                        <input type="text" class="form-control" id="expression" data-bind="value: editExpression">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" data-bind="click: save" data-dismiss="modal">Save</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

