@using SettingsService.Web.Types
@{
    const string CLASS_ACTIVE = "class=active";
    var generalActiveClass = ViewBag.Section == SiteSections.Gereral? CLASS_ACTIVE : string.Empty;
}
<li @generalActiveClass>@Html.ActionLink("General Settings","Index", "GeneralSettings")</li>
