<li>@Html.ActionLink("General Settings","Index", "GeneralSettings")</li>
<li>@Html.ActionLink("Crawler Rules", "Index", "CrawlerSettings")</li>
<li>@Html.ActionLink("Analyzer Rules", "Index", "AnalyzerSettings")</li>
